.users_list {
  margin-top: 2%;
  margin-left: 15%;
}

.links {
  position: absolute;
  right: 5%;
  bottom: 10%
}

.user_list_heading {
  text-align: left;
  margin-left: 10%;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bold;
  color: rgb(175, 71, 60);
}

.details_button {
  border: none;
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 230);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.userNames {
  padding: 1.5%;
  font-size: 20px;
}



