@import url("https://fonts.googleapis.com/css?family=Dancing+Script");


.footer {
  text-align: center;
  margin: 0 5% 0 5%;
  text-shadow: 1px 1px 2px black;
  color: rgb(230, 184, 0);
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}



.yellow_text {
  color: rgb(230, 184, 0);
}
